<launch>
  <arg name="open_rviz" default="true"/>
  <arg name="laser_type" default="$(env LASER_TYPE)"/>
  <arg name="world_name" value="$(find bobac3_description)/world/reinovo_raicom_final.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <!--arg name="use_sim_time" value="true"/-->
  </include>
  <param name = "robot_description" 
    command="$(find xacro)/xacro $(find bobac3_description)/xacro/bobac3_serverbot.xacro sim:=1 laser_type:=$(arg laser_type)"/>
  <rosparam command="load" file="$(find bobac3_description)/config/control.yaml"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model bobac3_serverbot"
    output="screen" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <!-- <node
		name="controller_spawner"
		pkg="controller_manager"
		type="spawner"
		respawn="false"
		output="screen"
		args="joint_state_controller left_joint_velocity_controller front_joint_velocity_controller right_joint_velocity_controller"
		ns="/"
	/> -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find bobac3_description)/rviz/urdf.rviz"/>
  </group>
</launch>
